@model Chess.Models.Board
<html>
<head>
    <title>League Checkers - A ***** Journey</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/chess.css" rel="stylesheet" />

    @*<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />*@

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.2.min.js"></script>
</head>


<body>
    <div class="container" id="main">



        <img alt="full screen background image" src="~/Content/MatchBackground.jpg" id="full-screen-background-image" />

        <div class="row" id="empty"style="height:10%">
            
            <div class="col-md-2"></div>
            <div class="" id="score">
                <l1 class="label" id="redPlayerScore">0</l1>
                <l2 class="label" id="playerTurn">Red</l2>
                <l3 class="label" id="bluePlayerScore">0</l3>
            </div>
            

        </div>
        

        

            <div class="row" id="game">

                <div id="redPlayerDetails" class="col-md-2">
                    <h2 id="redplayerName" class="">Jugador 1</h2>
                    <div id="redPlayerScore" class="score">
                        <h4 id="redPlayerWins" class="">Victorias:</h4>
                        <h4 id="redPlayerLosts" class="">Derrotas:</h4>
                    </div>
                </div>


                

                <div id="tablero" class="col-md-6">
                    <table id="chessBoard" style="" class="">
                                <tbody><tr>
                                        <td id="11" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="12" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                                    <div id="02Blackpawn" class="Blackpawn ui-draggable ui-draggable-disabled ui-state-disabled" data-color="Black" aria-disabled="true" style="position: relative;"></div>
                                        </td>
                                        <td id="13" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="14" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                                    <div id="04Blackpawn" class="Blackpawn ui-draggable ui-draggable-disabled ui-state-disabled" data-color="Black" aria-disabled="true" style="position: relative;"></div>
                                        </td>
                                        <td id="15" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="16" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                                    <div id="06Blackpawn" class="Blackpawn ui-draggable ui-draggable-disabled ui-state-disabled" data-color="Black" aria-disabled="true" style="position: relative;"></div>
                                        </td>
                                        <td id="17" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="18" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                                    <div id="08Blackpawn" class="Blackpawn ui-draggable ui-draggable-disabled ui-state-disabled" data-color="Black" aria-disabled="true" style="position: relative;"></div>
                                        </td>
                                </tr>
                                <tr>
                                        <td id="21" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                                    <div id="11Blackpawn" class="Blackpawn ui-draggable ui-draggable-disabled ui-state-disabled" data-color="Black" aria-disabled="true" style="position: relative;"></div>
                                        </td>
                                        <td id="22" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="23" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                                    <div id="13Blackpawn" class="Blackpawn ui-draggable ui-draggable-disabled ui-state-disabled" data-color="Black" aria-disabled="true" style="position: relative;"></div>
                                        </td>
                                        <td id="24" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="25" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                                    <div id="15Blackpawn" class="Blackpawn ui-draggable ui-draggable-disabled ui-state-disabled" data-color="Black" aria-disabled="true" style="position: relative;"></div>
                                        </td>
                                        <td id="26" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="27" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                                    <div id="17Blackpawn" class="Blackpawn ui-draggable ui-draggable-disabled ui-state-disabled" data-color="Black" aria-disabled="true" style="position: relative;"></div>
                                        </td>
                                        <td id="28" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                </tr>
                                <tr>
                                        <td id="31" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="32" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                                    <div id="22Blackpawn" class="Blackpawn ui-draggable ui-draggable-disabled ui-state-disabled" data-color="Black" aria-disabled="true" style="position: relative;"></div>
                                        </td>
                                        <td id="33" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="34" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                                    <div id="24Blackpawn" class="Blackpawn ui-draggable ui-draggable-disabled ui-state-disabled" data-color="Black" aria-disabled="true" style="position: relative;"></div>
                                        </td>
                                        <td id="35" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="36" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                                    <div id="26Blackpawn" class="Blackpawn ui-draggable ui-draggable-disabled ui-state-disabled" data-color="Black" aria-disabled="true" style="position: relative;"></div>
                                        </td>
                                        <td id="37" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="38" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                                    <div id="28Blackpawn" class="Blackpawn ui-draggable ui-draggable-disabled ui-state-disabled" data-color="Black" aria-disabled="true" style="position: relative;"></div>
                                        </td>
                                </tr>
                                <tr>
                                        <td id="41" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="42" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="43" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="44" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="45" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="46" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="47" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="48" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                </tr>
                                <tr>
                                        <td id="51" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="52" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="53" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="54" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="55" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="56" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="57" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="58" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                </tr>
                                <tr>
                                        <td id="61" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                                    <div id="31Whitepawn" class="Whitepawn ui-draggable" data-color="White" style="position: relative;"></div>
                                        </td>
                                        <td id="62" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="63" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                                    <div id="33Whitepawn" class="Whitepawn ui-draggable" data-color="White" style="position: relative;"></div>
                                        </td>
                                        <td id="64" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="65" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                                    <div id="35Whitepawn" class="Whitepawn ui-draggable" data-color="White" style="position: relative;"></div>
                                        </td>
                                        <td id="66" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="67" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                                    <div id="37Whitepawn" class="Whitepawn ui-draggable" data-color="White" style="position: relative;"></div>
                                        </td>
                                        <td id="68" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                </tr>
                                <tr>
                                        <td id="71" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="72" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                                    <div id="42Whitepawn" class="Whitepawn ui-draggable" data-color="White" style="position: relative;"></div>
                                        </td>
                                        <td id="73" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="74" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                                    <div id="44Whitepawn" class="Whitepawn ui-draggable" data-color="White" style="position: relative;"></div>
                                        </td>
                                        <td id="75" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="76" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                                    <div id="46Whitepawn" class="Whitepawn ui-draggable" data-color="White" style="position: relative;"></div>
                                        </td>
                                        <td id="77" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="78" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                                    <div id="48Whitepawn" class="Whitepawn ui-draggable" data-color="White" style="position: relative;"></div>
                                        </td>
                                </tr>
                                <tr>
                                        <td id="81" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                                    <div id="51Whitepawn" class="Whitepawn ui-draggable" data-color="White" style="position: relative;"></div>
                                        </td>
                                        <td id="82" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="83" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                                    <div id="53Whitepawn" class="Whitepawn ui-draggable" data-color="White" style="position: relative;"></div>
                                        </td>
                                        <td id="84" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="85" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                                    <div id="55Whitepawn" class="Whitepawn ui-draggable" data-color="White" style="position: relative;"></div>
                                        </td>
                                        <td id="86" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                        <td id="87" class="black ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                                    <div id="57Whitepawn" class="Whitepawn ui-draggable" data-color="White" style="position: relative;"></div>
                                        </td>
                                        <td id="88" class="white ui-droppable">
                                            <span></span>
                                            <p></p>
                                            
                                        </td>
                                </tr>

                    </tbody></table>
                </div>

                <div id="bluePlayerDetails" class="col-md-3">
                    <h2 id="blueplayerName" class="">Jugador 2</h2>
                    <div id="bluePlayerScore" class="score">
                        <h4 id="bluePlayerWins" class="">Victorias:</h4>
                        <h4 id="bluePlayerLosts" class="">Derrotas:</h4>
                    </div>
                </div>
            </div>

        </div>
</body>
</html>



<script>


    var x, y;
    var counter = 0;
    var pieces;
    var color = "";



    $(".Whitepawn").draggable({
        containment: "#chessBoard",
        revert: "invalid",
        scroll: false,
        cursor: "move",
        // cursorAt: { top: 56, left: 25 },
        start: function (event, ui) {//tas hareket ettirilmeden önceki konum bilgilerini al
            x = ui.offset.top;
            y = ui.offset.left;
        },
        drag: function () {
        },
        stop: function (event, ui) {
            //$("#" + event.originalEvent.target.id).offset({ top: x, left: y })
            //$("#62").css("background-color", color)
        }
    });

    $(".Blackpawn").draggable({
        containment: "#chessBoard",
        revert: "invalid",
        scroll: false,
        cursor: "move",
        // cursorAt: { top: 56, left: 25 },
        start: function (event, ui) {//tas hareket ettirilmeden önceki konum bilgilerini al
            x = ui.offset.top;
            y = ui.offset.left;
        },
        drag: function () {
        },
        stop: function (event, ui) {
            //$("#" + event.originalEvent.target.id).offset({ top: x, left: y })
            //$("#62").css("background-color", color)
        }
    });

    $("div[data-color=Black]").draggable('disable');

    $("td").droppable({
        //activeClass: "state",

        hoverClass: "ui-state-active",
        drop: function (event, ui) {

            var value = {
                id: ui.draggable[0].id,
                target: event.target.id,
                col: event.target.id.substr(1, 1),
                row: event.target.id.substr(0, 1)
            }

            $.ajax({
                url: '@Url.Action("moveControl", "Home")',
                type: "POST",
                data: value,
                beforeSend: function (xhr) {
                },
                success: function (str) {
                    var result = str.split(';');
                    if (result[0] == "True") {
                        counter++;
                        if (counter % 2 == 0) {
                            $("div[data-color=Black]").draggable('disable');
                            $("div[data-color=White]").draggable('enable');
                            $("#playerTurn").text("Red");
                        } else {
                            $("div[data-color=Black]").draggable('enable');
                            $("div[data-color=White]").draggable('disable');
                            $("#playerTurn").text("Blue");
                        }
                        if (result[1]) {
                            $("#" + result[1]).hide("explode", 200);
                            $("#" + result[1]).remove();
                        }
                        if (result[2]) {
                            $("#" + result[2]).hide();
                            if (counter % 2 == 0) {
                                $("#" + result[2]).addClass('blackCrown').removeClass('blackPawn');

                            } else {
                                $("#" + result[2]).addClass('whiteCrown').removeClass('whitePawn');
                            }
                            $("#" + result[2]).show("pulsate", 2000);
                        }
                        if (result[3]) {
                            var scores = result[3].split('|');
                            $("#redPlayerScore").text(scores[0]);
                            $("#bluePlayerScore").text(scores[1]);
                        }

                    } else {
                        $("#" + ui.draggable[0].id).offset({ top: x, left: y })
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                }
            });
            //$(this)
            //.addClass("ui-state-highlight")
            //.find("p")
            //.html("Dropped!");
        }
    })
</script>