
td.black
{
    background-color: #67310d;
}

td.white
{
    background-color: #d58753;
}

/*span
{
    z-index: 122;
    opacity: 0.5;
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
}*/


td
{
    border: 1px solid #999999 /*{borderColorHover}*/;
    background: #dadada /*{bgColorHover}*/ url(images/ui-bg_glass_75_dadada_1x400.png) /*{bgImgUrlHover}*/ 50% /*{bgHoverXPos}*/ 50% /*{bgHoverYPos}*/ repeat-x /*{bgHoverRepeat}*/;
    font-weight: normal /*{fwDefault}*/;
    color: #212121 /*{fcHover}*/;
    width: 80px;
    height: 80px;
}

/*p
{
    position:absolute;
    width:40px;
    height:40px;    
    opacity:0.1;
    z-index:98;
    top:30px;
    left:30px;
}*/

div.whitePawn
{
    background-position: -15px -110px;
    background-image: url('../Content/pieces.png');
    background-repeat: no-repeat;
    float: left;
    width: 73px;
    height: 60px;
    margin-top: 0px;
    /*position:absolute;
    z-index:99;*/
}

div.blackPawn
{
    background-position: -15px -15px;
    background-image: url('../Content/pieces.png');
    background-repeat: no-repeat;
    float: left;
    width: 73px;
    height: 60px;
    /*position:absolute;
    z-index:99;*/
}

div.blackCrown
{
    background-position: -110px -15px;
    background-image: url('../Content/pieces.png');
    background-repeat: no-repeat;
    float: left;
    width: 73px;
    height: 60px;
    /*position:absolute;
    z-index:99;*/
}

div.whiteCrown
{
    background-position: -110px -110px;
    background-image: url('../Content/pieces.png');
    background-repeat: no-repeat;
    float: left;
    width: 73px;
    height: 60px;
}
