

div.form-button {
  margin: 0.5em 25% 0.3em 0;
}

div.form-item-wrapper{
    margin:1em 25% 0.5em 0;
    text-align: right;
}

#responsive_div
{
    margin: 0 auto;
    max-width: 650px;
    width: 100%
}

#menuArea
{
    width: 100%;
    display: block;
    border: #808080;
}

